.add-cosplay-form {
    background-image: url('https://images.pexels.com/photos/1228268/pexels-photo-1228268.png?cs=srgb&dl=pexels-tim-hahlgan%C3%9F-1228268.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding-bottom: 2em;
    padding-left: 4em;

    .add-cosplay-form-header {
        border-bottom: 1px solid white;
        margin-right: 30%;
        margin-bottom: 1em;
    }

    .add-cosplay-btns {
        margin: 1em;
    }
}