.all-cons {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSv3mK7TD2K1AO2ytn3rjKCD4OUda-4OLEhdg&usqp=CAU');
    
    .add-con-btn {
        background-color: rgb(10, 36, 75);
        color: silver;
        margin-bottom: 2em;
    }
}