.add-budget-form {
    margin-left: 35%;
    margin-top: 3em;

    .budg-inputs {
        margin: 1em;
    }

    .add-budg-form-btns {
        margin-right: 65%;

        .budget-btns {
            margin: 1em;
        }
    }

}