.login {
    // height: 800px;
    background-image: url('https://images.robertharding.com/preview/RF/RH_RF/HORIZONTAL/1299-34.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: -100px;

    .login-top-buffer {
        height: 175px;
    }

    .welcome {
        margin-left: 400px;
        color: white;
    }

    .login-buffer {
        height: 600px;
        width: 900px;
    }
    
}