@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Recursive:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Recursive:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=PT+Sans+Narrow&family=Recursive:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@400;500&family=PT+Sans+Narrow&family=Recursive:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@400;500&family=PT+Sans+Narrow&family=Recursive:wght@500&family=Yellowtail&display=swap');

$text: 'Recursive', sans-serif;
$oswald: 'Oswald', sans-serif;
$narrow: 'Oswald', sans-serif;
$narrow2: 'PT Sans Narrow', sans-serif;
$fjalla: 'Fjalla One', sans-serif;
$yellowtail: 'Yellowtail', cursive;

$navy: 'rgb(10, 36, 75)';
