@import '~bootstrap/dist/css/bootstrap.min.css';
@import './_variables.scss';

body {
  margin: 0;
  font-family: $text, $oswald, $narrow, $narrow2, $fjalla, $yellowtail;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Swiss_911_ultra_compressed'
    monospace;
}

// @font-face {
//   font-family: 'Swiss_911_ultra_compressed_bt';
//   src: local('Swiss_911_ultra_compressed'), url(./fonts/swiss_911_ultra_compressed_bt (1).ttf) format('truetype');
// }
