.cosplay-planner {
    background-color: rgb(100, 6, 6);
    // background-image: url('https://www.publicdomainpictures.net/pictures/350000/velka/background-wallpaper-glitter-shinny.jpg');

    .cos-plan-header {
        color: white;
        padding-top: 2em;
    }

    #create-piece {
        margin: 2em;
    }
}