@import '../../../styles/_variables';

.single-con-card {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/46/Churull.jpg');
    background-repeat: no-repeat;
    background-size: 200%;
    // font-family: $yellowtail;
}

.buffer {
    height: 6em;
}