.tardis {
    // margin-left: 4em;
    // margin-top: 2em;
    height: 20em;
}

.event-box {
    margin-top: 3em;
}

.saber {
    margin-top: 0;
}

.event-headline {
    border-bottom: 1px solid black;
}

.events {
    margin-top: 2em;
}

.event-header {
    text-align: left;
    border-bottom: 1px solid black;
}
